# Dependencias
/node_modules

# Configuración local
/.env

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Carpetas generadas al ejecutar pruebas
/coverage

# Archivos de construcción
/build
/dist

# Dependencias específicas del sistema
.DS_Store
Thumbs.db
