
.consulta-datos-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 400px; /* Ajusta el ancho según tus necesidades */
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.consulta-datos-result {
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

pre {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  white-space: pre-wrap;
}
